<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.crud.repository.UserRepository">
    <!-- 根据ID查询用户 -->
    <select id="findByEmail" resultType="com.example.crud.entity.User" parameterType="String">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>
    <!-- 统计用户总数 -->
    <select id="countUsers" resultType="long">
        SELECT COUNT(*) FROM users
    </select>
    <!-- 根据ID删除用户 -->
    <delete id="deleteByID" parameterType="Long">
        DELETE FROM users
        WHERE id = #{id}
    </delete>
    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.example.crud.entity.User">
        UPDATE users
        SET email = #{email},name = #{name},password = #{password}
        WHERE id = #{id}
    </update>

</mapper>
